@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="container">
    <!-- Outer Row -->
    <div class="row">
        <div class="col-xl-6 login-page-margin">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h1 text-gray-900 mb-4 text-danger">Hata.</h1>
                                </div>
                                <hr />
                                <h4 class="text-danger">İşleminiz gerçekleştirilirken bir hata ile karşılaşıldı.</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
