@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Kilitlendi.</h1>
    <h2 class="text-danger">Bu hesap kilitlendi. Lütfen daha sonra tekrar deneyiniz.</h2>
</hgroup>
