
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!-- Contact Section Begin -->
<section class="contact spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_phone"></span>
                    <h4>Telefon</h4>
                    <a href="https://web.whatsapp.com/send?phone=905377345964" style="color:#78a15c;">+90 537 734 59 64</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_pin_alt"></span>
                    <h4>Adres</h4>
                    <p>Adnan Kahveci Mah. Kalkan Sokak Dora Park 4 Evleri Dükkan no:11 Beylikdüzü/İstanbul</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_clock_alt"></span>
                    <h4>Açılış Saatleri</h4>
                    <p>Haftanın Her Günü: 09.00 - 20.30</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 text-center">
                <div class="contact__widget">
                    <span class="icon_mail_alt"></span>
                    <h4>E-Posta</h4>
                    <a href="mailto:catalcaliodg@gmail.com" style="color:#78a15c;">catalcaliodg@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Section End -->
<!-- Map Begin -->
<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14709.791035942499!2d28.6253987434531!3d41.00426271881752!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b55f257b7d9ee1%3A0x6f7f48ea14a29b40!2zw4dhdGFsY2FsxLEgxZ5hcmvDvHRlcmk!5e1!3m2!1str!2str!4v1593591511681!5m2!1str!2str"
            height="500" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    <div class="map-inside">
        <i class="icon_pin"></i>
        <div class="inside-widget">
            <h4>İstanbul / Beylikdüzü</h4>
            <ul>
                <li>Telefon: 0537 734 59 64</li>
                <li>Adres: Adnan Kahveci Mah. Kalkan Sokak Dora Park 4 Evleri Dükkan no:11 Beylikdüzü/İstanbul</li>
            </ul>
        </div>
    </div>
</div>