
@{
    ViewBag.Title = "ServiceProcess";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="information-views-header">Servis Süreci</h6>
            </div>
        </div>
        <div class="checkout__order">
            <table>
                <tr>
                    <td class="col-lg-3 information-views-photo">
                        <img src="~/Content/ogani/img/SiparisSureciCatalcali.jpg" style="height:100%; width:100%;" />
                    </td>
                    <td class="col-lg-9 information-views-content">
                        <p>
                            <a>&#8226;</a> Çatalcalı’ya siparişlerinizi <b>Sitemizden</b>, <b>WhatsApp </b>hattımızdan veya <b>Instagram </b>hesabımızdan iletebilirsiniz.
                        </p>
                        <p>
                            <a>&#8226;</a> Siparişinizi oluşturduktan sonra, tartılması gereken ürünleriniz tartılır. Siparişinizin son hali ortaya çıktığında örnek faturanız size gönderilir ve planlanan teslim saati sizin onayınıza sunulur. Eğer sunulan saat, size uygun değilse değiştirilir.
                        </p>
                        <p>
                            <a>&#8226;</a> Tam söz verdiğimiz gün ve saatte orada oluruz. Ödemelerimizi her zaman kapıda; <b>nakit veya kredi kartı</b> ile alırız.
                        </p>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</section>
