
@{
    ViewBag.Title = "PayAtTheDoor";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="information-views-header">Kapıda Ödeme</h6>
            </div>
        </div>
        <div class="checkout__order">
            <table>
                <tr>
                    <td class="col-lg-3 information-views-photo">
                        <img src="~/Content/ogani/img/kapıda-ödeme-1.jpg" style="height:100%; width:100%;" />
                    </td>
                    <td class="col-lg-9 information-views-content">
                        <a>&#8226;</a> Web sitemizden ödeme alınmaz, tüm ödemeler <b>kapıda nakit veya kredi kartı ile</b> yapılır.
                    </td>
                </tr>
            </table>

        </div>
    </div>
</section>
