
@{
    ViewBag.Title = "ServiceDays";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="information-views-header">Servis Günleri</h6>
            </div>
        </div>
        <div class="checkout__order">
            <table>
                <tr>
                    <td class="col-lg-5 information-views-photo">
                        <img src="~/Content/ogani/img/ServisGunleriCatalcali.jpg" style="height:100%; width:100%;" />
                    </td>
                    <td id="metin" class="col-lg-7 information-views-content">
                        <p>
                            <a>&#8226;</a> <b>Beylikdüzü</b> ve <b>Esenyurt’tan</b> verilen siparişlerde; sabah (11:00) ve akşam (20:00) olmak üzere haftanın her günü teslim gerçekleştirilir.
                        </p>
                        <p>
                            <a>&#8226;</a> <b>Avcılar</b> ve <b>Halkalı</b> siparişleriniz Salı günleri;
                        </p>
                        <p>
                            <a>&#8226;</a> <b>Mimarsinan</b>, <b>Mimaroba</b> ve <b>Büyükçekmece</b> siparişleriniz Perşembe günleri;
                        </p>
                        <p>
                            <a>&#8226;</a> <b>Bahçeşehir</b> ve <b>Ispartakule</b> siparişleriniz ise Cuma günleri teslim edilir.
                        </p>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</section>





