
@{
    ViewBag.Title = "SSS";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<style>
    #arrowicon {
        color: #78a15c;
    }
</style>

<section class="checkout spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="information-views-header">Sıkça Sorulan Sorular</h6>
            </div>
        </div>
        <!-- Grid column -->
        <div>

            <!-- Accordion wrapper -->
            <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingOne1">
                        <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                           aria-controls="collapseOne1">
                            <h5 class="mb-0">
                                Çatalcalı Organik Doğal Gıda nedir? <i id="arrowicon" class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1" data-parent="#accordionEx">
                        <div class="card-body">
                            Çatalcalı, sizlere ürünleri taze ve doğal bir şekilde getirmeyi amaçlayan, mobil hizmet veren bir işletmedir.
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingTwo2">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
                           aria-expanded="false" aria-controls="collapseTwo2">
                            <h5 class="mb-0">
                                Ürünlerin tazelenme sıklığı nedir? <i id="arrowicon" class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2" data-parent="#accordionEx">
                        <div class="card-body">
                            Sütlerimiz haftanın her günü gelmekte, diğer süt ürünlerimiz ise ortalama 2 gün de bir tazelenmektedir. Vakumlu ürünlerimiz ise ortalama ayda bir taze şekilde raflara ulaşmaktadır.
                        </div>
                    </div>
                </div>
                <!-- Accordion card -->
                <!-- Accordion card -->
                <div class="card">

                    <!-- Card header -->
                    <div class="card-header" role="tab" id="headingThree3">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
                           aria-expanded="false" aria-controls="collapseThree3">
                            <h5 class="mb-0">
                                Nasıl sipariş verebiliriz? <i id="arrowicon" class="fas fa-angle-down rotate-icon"></i>
                            </h5>
                        </a>
                    </div>

                    <!-- Card body -->
                    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3" data-parent="#accordionEx">
                        <div class="card-body">
                            Bize web sitemiz üzerinden, whatsapp sipariş hattımızdan veya instagramdan ulaşabilir, siparişlerinizi oluşturabilirsiniz.
                        </div>
                    </div>
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingThree4">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour4"
                               aria-expanded="false" aria-controls="collapseFour4">
                                <h5 class="mb-0">
                                    Siparişlerim nasıl teslim edilir? <i id="arrowicon" class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseFour4" class="collapse" role="tabpanel" aria-labelledby="headingThree4" data-parent="#accordionEx">
                            <div class="card-body">
                                Siparişlerimizi sabah, öğle ve akşam olmak üzere üç ayrı servis zamanında teslim ediyoruz. Sizin seçtiğiniz vakitte siparişleriniz teslim edilir. Dağıtıma çıkmadan önce nihai teslim saati bildirilir. Ürünleriniz dağıtıma çıkmadan önce dezenfekte edilir.
                            </div>
                        </div>
                    </div>
                    <div class="card">

                        <!-- Card header -->
                        <div class="card-header" role="tab" id="headingThree5">
                            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseFive5"
                               aria-expanded="false" aria-controls="collapseFive5">
                                <h5 class="mb-0">
                                    Nasıl ödeme yapılır? <i id="arrowicon" class="fas fa-angle-down rotate-icon"></i>
                                </h5>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapseFive5" class="collapse" role="tabpanel" aria-labelledby="headingThree5" data-parent="#accordionEx">
                            <div class="card-body">
                                Siparişlerinizin teslimatı esnasında ister nakit isterseniz kredi/banka kartınızla ödeme yapabilirsiniz.
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->
                </div>
                <!-- Accordion wrapper -->
            </div>
        </div>
    </div>
</section>

