
@{
    ViewBag.Title = "PleaseConfirmEmail";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container">
    <!-- Outer Row -->
    <div class="row">
        <div class="col-xl-12">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-left">
                                    <h1 class="h1 text-gray-900 mb-4">Çatalcalı Ailesine Hoşgeldiniz.</h1>
                                </div>
                                <hr />
                                <div class="text-left">
                                    <h1 class="h5 text-gray-900 mb-4">Üye olduğunuz için teşekkürler. Hemen alışverişe başlayabilirsiniz.</h1>
                                    @*<h1 class="h5 text-gray-900 mb-4">E-postanızı Onaylamadan Sipariş Oluşturamazsınız.</h1>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

